@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

html{
     scroll-behavior: smooth;
     overflow-x:hidden;
}

body{
    margin:0;
    padding:0;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    overflow-x:hidden; 
}

/*navbar*/
.navbar{
    background-color: black;
}
.custom-toggler.navbar-toggler{
  border-color: red;

}
/*end navbar*/


/*hoover links*/

a:link {
  color:red;
   text-decoration: none;
}
a:visited {
  color:red;
   text-decoration: none;
}

a:hover {
  color: white;
   text-decoration: none;
}

a:active {
  color:white;
   text-decoration: none;
}
/*end hoover links*/

/*h colors*/

h4, h5{
    color:red;
}
h1, h2 {
    color:white;
}

h3, h6{
    color:black;
}
/*end h colors*/


.container-welcome{
    margin:0;
}

/*welcome text*/
.welcometext{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 4;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}


.span{
    opacity:0;
    transition: all 1s ease;
    
}

.fade{
    opacity: 1;
   
}
hr{ display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid red;
    margin: 1em 0;
    padding: 0;
 }


/*end welcome text*/



/*Top 9 drones in 2020*/
.menubox1{
    animation-name:menubox1;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition-property: transform;
    transition-duration:2s;
    opacity:0;
    transition: transform .2s;
    
}


@keyframes menubox1{
    0% {opacity:0 }
    100%{opacity:1}
}

.menubox1:hover {
  transform: scale(1.1); 
  color: gray;
}

.menubox2{
    animation-delay: .5s;
    animation-name:menubox2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition-property: transform;
    transition-duration:2s;
    opacity:0;
    transition: transform .2s;
}

.menubox2:hover {
  transform: scale(1.1); 
  color: gray;
}

@keyframes menubox2{
    0% {opacity:0 }
    100%{opacity:1}
}

.menubox3{
    animation-delay: 1s;
    animation-name:menubox3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition-property: transform;
    transition-duration:2s;
    opacity:0;
    transition: transform .2s;
}

.menubox3:hover {
  transform: scale(1.1); 
  color: gray;
}

@keyframes menubox3{
    0% {opacity:0 }
    100%{opacity:1}
}

.menubox4{
    animation-delay: 1.5s;
    animation-name:menubox4;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition-property: transform;
    transition-duration:2s;
    opacity:0;
    transition: transform .2s;
}

@keyframes menubox4{
    0% {opacity:0 }
    100%{opacity:1}
}

.menubox4:hover {
  transform: scale(1.1); 
  color: gray;
}

.menubox5{
    animation-delay: 2s;
    animation-name:menubox5;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    transition-property: transform;
    transition-duration:2s;
    opacity:0;
    transition: transform .2s;
}

@keyframes menubox5{
    0% {opacity:0 }
    100%{opacity:1}
}

.menubox5:hover {
  transform: scale(1.1); 
  color: gray;
}



.menubox6{
    animation-delay: 2.5s;
    animation-name:menubox6;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition-property: transform;
    transition-duration:2s;
    opacity:0;
    transition: transform .2s;
    
}

@keyframes menubox6{
    0% {opacity:0 }
    100%{opacity:1}
}

.menubox6:hover {
  transform: scale(1.1); 
  color: gray;
}



.menubox7{
    animation-delay: 3s;
    animation-name:menubox7;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition-property: transform;
    transition-duration:2s;
    opacity:0;
    transition: transform .2s;
}
@keyframes menubox7{
    0% {opacity:0 }
    100%{opacity:1}
}

.menubox7:hover {
  transform: scale(1.1); 
  color: gray;
}

.menubox8{
    animation-delay: 3.5s;
    animation-name:menubox8;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition-property: transform;
    transition-duration:2s;
    opacity:0;
    transition: transform .2s;
}

@keyframes menubox8{
    0% {opacity:0 }
    100%{opacity:1}
}

.menubox8:hover {
  transform: scale(1.1); 
  color: gray;
}


.menubox9{
    animation-delay: 4s;
    animation-name:menubox9;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    transition-property: transform;
    transition-duration:2s;
    opacity:0;
    transition: transform .2s;
}

@keyframes menubox9{
    0% {opacity:0 }
    100%{opacity:1}
}

.menubox9:hover {
  transform: scale(1.1); 
  color: gray;
}

/* End Top 9 drones in 2020*/

/* container with image, specification, video, where to buy, about and go to the drones*/

.box1{
     border: 1px solid grey;
     
}

.box2{
     border: 1px solid grey;
}

.box3{
     border: 1px solid grey;
}

.box4{
     border: 1px solid grey;
}

.box5{
     border: 1px solid grey;
}

.box6{
     border: 1px solid grey;
}

.box7{
   border: 1px solid white;
   
}

.box8{
    border: 1px solid white;
    
}
/*end container with image, specification, video, where to buy, about and go to the drones*/

/*container read reviews and add your review*/
.container-read_and_addreview{
    background-color:whitesmoke;
}
/*end container read reviews and add your review*/


/*animations for images*/

.droneimageopacity{
    animation-name:droneimageopacity;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    transition-property: transform;
    transition-duration:3s;
    opacity:0;
    transition: transform 3s;
  }
  @keyframes droneimageopacity{
    0% {opacity:0;}
    100%{opacity:1;}
   }


/*end animations*/