body{ 
}

html{
     scroll-behavior: smooth;
     
}



.containerbox .box1{
width:100%;
height:80px;
background:#999594;


}

.containerbox .box2{
width:100%;
height:80px;
background:#B3B7BA;


}

.containerbox .box3{
width:100%;
height:80px;
background:#7A8373;


}


.containerbox .box6{
width:100%;
height:80px;
background:#7A8373;


}


.containerbox .box5{
    width:100%;
height:80px;
background:#7A8373;


}


.containerbox .box4{
width:100%;
height:80px;
background:#7A8373;


}


.containerbox .box7{
width:100%;
height:80px;
background:#999594;


}


.containerbox .box8{
width:100%;
height:80px;
background:#B3B7BA;


}


.containerbox .box9{
width:100%;
height:80px;
background:#7A8373;


}

p {color:grey;
}

a:link {
  color:black;
   text-decoration: none;
}
a:visited {
  color:black;
   text-decoration: none;
}

a:hover {
  color: black;
   text-decoration: none;
}

a:active {
  color:black;
   text-decoration: none;
}


.span{
    opacity:0;
    transition: all 0.6s ease;
}

.fade{
    opacity: 1;
   
}

.button a {
  text-decoration: none;
}

hr { display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid red;
    margin: 1em 0;
    padding: 0;
 }