{% extends 'base.html' %}
{% block content %}
      
<ul class="list-group">
{% for review in reviews %}
<hr>
<div class="container">
    <div class="row">
        <div class="col-12">
             <li class="list-group-item"><img src="static/img/homeicon.jpg" class="img-fluid"> {{review.category_name}}</li>

            <li class="list-group-item"><i class="fas fa-user fa-3x" style="color:red"></i> {{review.name}}</li>

            <li class="list-group-item"><i class="fas fa-comments fa-3x" style="color:red"></i> {{review.review}}</li>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 text-center">
            <a href="{{url_for('delete_review', review_id=review._id)}}" type="submit" class="btn btn-outline-danger">Delete Review</a>
        </div>
        <div class="col-md-6 text-center">
            <a href="{{url_for('edit_review', review_id=review._id)}}" type="submit" class="btn btn-outline-danger">Edit Review</a>
        </div>
   </div>
</div>
<hr>
    {% endfor %}


{% endblock %}

