{% extends 'base.html' %} {% block content%}

<div class="container-fluid "><a id="top"></a>
  <div class="row">
    <div class="col-12">
      <h1 class="text-center text-secondary">Drone Review</h1>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-12"></div>

<div class="embed-responsive embed-responsive-16by9 my-2">
					<video autoplay muted loop >
						<source src="static/video/SMOOOOTH.mp4" type="video/mp4">
					</video>
				</div>
</div>
</div>
<hr>

<!--Top Drones In 2020-->
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-12"><h2>Top Drones in 2020</h2></div>
  </div>
</div>
<!--End Top Drones In 2020-->

<!--Box Menu for Drones-->
<div class="container-fluid containerbox text-center">
  <div class="row">
    <div class="col-md-4 text-center box1">
    
      <h5><a href="#DJI Mavic Air 2">DJI Mavic Air 2</a></h5>
      <img src="https://i.imgur.com/XEXUXTz.jpg" class="img-fluid   mr-3" height="100" width="100">
    </div>




    <div class="col-md-4 text-center box2">
    
      <h5><a href="#DJI Mavic 2 Pro">DJI Mavic 2 Pro</a></h5>
      <img src="https://i.imgur.com/bJJxnx3.jpg" class="img-fluid   mr-3" height="100" width="100">
    </div>
    <div class="col-md-4 text-center box3">
      
     <h5><a href="#DJI Mavic Mini">DJI Mavic Mini</a></h5>
     <img src="https://i.imgur.com/j04Jk2G.jpg" class="img-fluid   mr-3" height="100" width="100">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 text-center box3">
    
      <h5><a href="#DJI Mavic 2 Zoom">DJI Mavic 2 Zoom</a></h5>
      <img src="https://i.imgur.com/bJJxnx3.jpg" class="img-fluid   mr-3" height="100" width="100">
    </div>
    <div class="col-md-4 box5">
    
      <h5><a href="#DJI Phantom 4 text-center">DJI Phantom 4</a></h5>
      <img src="https://i.imgur.com/81rE2md.jpg" class="img-fluid   mr-3" height="100" width="100">
    </div>
    <div class="col-md-4 text-center box6">
      
     <h5><a href="#Parrot Anafi">Parrot Anafi</a></h5>
     <img src="https://i.imgur.com/OPoA08K.jpg" class="img-fluid   mr-3" height="100" width="100">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 text-center box7">
    
      <h5><a href="#Parrot Bebop 2">Parrot Bebop 2</a></h5>
      <img src="https://i.imgur.com/5LDdFVg.jpg" class="img-fluid   mr-3" height="100" width="100">
    </div>
    <div class="col-md-4 text-center box8">
    
      <h5><a href="#DJI Mavic Pro">DJI Mavic Pro</a></h5>
      <img src="https://i.imgur.com/9tQDVux.jpg" class="img-fluid   mr-3" height="100" width="100">
    </div>
    <div class="col-md-4 text-center box9">
      
     <h5><a href="#DJI Inspire 2">DJI Inspire 2</a></h5>
     <img src="https://i.imgur.com/EJ2gJDc.jpg" class="img-fluid   mr-3" height="100" width="100">
    </div>
  </div>
</div>
<hr>

<!--End Box Menu for Drones-->


<!--Description Specifications Buy DJI Mavic Air 2-->

<div class="container-fluid text-center">
  <div class="row">
    <div class="col-12">
      <h1><a id="DJI Mavic Air 2">DJI Mavic Air 2</a></h1>

      
      <img
        src="https://i.imgur.com/XEXUXTz.jpg"
        class="img-fluid"
        
      />
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 mb-4 text-center my-3">
      <i class="fas fa-cogs fa-2x"></i>
      <br />
      <h4 class="">Specification</h4>
      <br />
      <p>
        Weight: 570g | Controller: Yes | Camera resolution: 12MP | Battery size:
        3,950 mAh | Range: 10km
      </p>
    </div>

    <div class="col-md-4 mb-4 text-center my-3">
      <i class="far fa-edit fa-2x"></i>
      <br />
      <h4 class="">Review</h4>
      <br />
      <p class="disp-cont"></p><p class="more-cont" style="display:none;">
        A dramatic improvement on the original Mavic Air, the Mavic Air 2 is the
        best all-rounder drone for beginners and hobbyists. Like a mini version
        of the Mavic 2 Pro, it combines the ability to shoot excellent 4K/60p
        video, a huge range of shooting features, and an impressive 34-minute
        flight time. A new 1/2-inch sensor ensures better ISO performance than
        its predecessor and supports slo-mo 1080p video up to 240fps. The Mavic
        Air 2's new controller, meanwhile, brings Ocusync 2.0 connectivity,
        which boosts its range up to 10km and improves the stability of its
        signal to the DJI Fly app. With subject-tracking and all of the familiar
        Quickshot automated modes, it's the perfect sweet spot between the more
        basic DJI Mavic Mini and pricier Mavic 2 series.
      </p>
       <button type="button" class="readReview btn btn-outline-danger">Read Review</button>
    </div>

    <div class="col-md-4 mb-4 text-center my-3">
      <i class="fas fa-shopping-cart fa-2x"></i>
      <br/>
      <h4 class="">Where To Buy?</h4>
      <br>
      
      <button type="button" class="btn btn-outline-danger my-3">
        <a
          href="https://www.buyitdirect.ie/p/dji-mavic-air-2-cp.ma.00000179.01?wgu=272205_138485_15954352141719_3db807da98&wgexpiry=1603211214&utm_source=Future%20Publishing%20Ltd&utm_medium=webgains&refsource=webgains
"
          target="_blank"
        >
          Buy
        </a>
      </button>
    </div>
  </div>
</div>

<!--JumpToTheTop-->
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-12">
      <a href="#top">Go To The Drones</a>
      <br>
      <a href="{{url_for('add_review')}}">Add Drone Review</a>
    </div>
  </div>
</div>
<!--End JumpToTheTop-->

<hr />
<!--End Description Specifications Buy DJI Mavic Air 2-->

<!--Description Specifications Buy  DJI Mavic 2 Pro-->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <h1><a id="DJI Mavic 2 Pro">DJI Mavic 2 Pro</a></h1>
      <img
        src="https://i.imgur.com/bJJxnx3.jpg"
        class="img-fluid"
        
      />
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 mb-4 text-center my-3">
      <i class="fas fa-cogs fa-2x"></i>
      <br />
      <h4 class="">Specification</h4>
      <br />
      <p>
        Weight: 907g | Controller: Yes | Camera resolution: 20MP | Flight time:
        3,950 mAh | Range: 8km
      </p>
    </div>

    <div class="col-md-4 mb-4 text-center my-3">
      <i class="far fa-edit fa-2x"></i>
      <br />
      <h4 class="">Review</h4>
      <br />
      <p class="disp-cont"></p><p class="more-cont" style="display:none;">
        The DJI Mavic 2 Pro remains the best premium drone you can buy for a few
        reasons – it has a large sensor, it's a joy to fly, and the foldable
        design makes it portable and travel-friendly. If you need zoom or
        serious portability, then the Mavic 2 Zoom and Mavic Mini are worth
        investigating. But otherwise, this is fine all-rounder for those who
        need a bit more quality than the Mavic Air 2. Its 20MP one-inch sensor
        is capable of shooting Raw stills and 4K video at 30fps, while the
        aperture is adjustable between f/2.8 and f/11, which means less need for
        ND filters. What’s more, despite its impressive skill set, the Mavic 2
        Pro is easy to fly and intuitive to control using its partner app, while
        a range of intelligent shooting and flight modes make capturing
        cinematic shots a cinch. It also offers some of the most advanced flight
        and camera tech currently available, making it capable of delivering
        pro-grade images, yet still accessible even for beginners. Provided you
        don’t need optical zoom, this is pretty much the perfect drone for most
        people, if you can afford it.
      
</p>
      <button type="button" class="readReview btn btn-outline-danger">Read Review</button>
    </div>

    <div class="col-md-4 mb-4 text-center my-3">
      <i class="fas fa-shopping-cart fa-2x"></i>
      <br />
      <h4 class="">Where To Buy?</h4>
      <br />
       <button type="button" class="btn btn-outline-danger my-3">
        <a href="https://www.buyitdirect.ie/p/grade-a1-dji-mavic-2-pro-a1cp.ma.00000010.01?wgu=272205_138485_1595435255888_e0be848856&wgexpiry=1603211255&utm_source=Future%20Publishing%20Ltd&utm_medium=webgains&refsource=webgains"
          target="_blank">Buy</a>
      </button>
    </div>
  </div>
</div>

<!--JumpToTheTop-->
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-12">
      <a href="#top">Go To The Drones</a>
      <br>
      <a href="{{url_for('add_review')}}">Add Drone Review</a>
    </div>
  </div>
</div>
<!--End JumpToTheTop-->
<hr />
<!--End Description Specifications Buy DJI Mavic 2 Pro-->

<!--Description Specifications Buy DJI Mavic Mini-->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <h1><a id="DJI Mavic Mini">DJI Mavic Mini</a></h1>
      <img
        src="https://i.imgur.com/j04Jk2G.jpg"
        class="img-fluid">
        
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 mb-4 text-center my-3">
      <i class="fas fa-cogs fa-2x"></i>
      <br />
      <h4 class="">Specification</h4>
      <br />
      <p>
        Weight: 249g | Controller: Yes | Camera resolution: 12MP | Battery size:
        2,600 mAh | Range: 5.8 GHz: 4000 m (FCC); 2500 m (SRRC)
      </p>
    </div>

    <div class="col-md-4 mb-4 text-center my-3">
      <i class="far fa-edit fa-2x"></i>
      <br />
      <h4 class="">Review</h4>
      <br />
      <p class="disp-cont"></p><p class="more-cont" style="display:none;">
        The DJI Mavic Mini is a perfectly timed masterstroke on DJI's part. It
        tackles drone law changes across the US and UK head-on, while also
        delivering great video quality in a premium, compact body. Laws now
        state that drones weighing over 250g need to be registered with aviation
        authorities – the FAA in the US and Civil Aviation Authority in the UK –
        and before the Mavic Mini launched, there weren't any well-reviewed
        options in this featherweight category. Which means that, right now, DJI
        has secured itself a monopoly in the sub-250g premium drone market
        because, unlike one of its main rivals, the Parrot Anafi, that weighs
        around 300g, the Mavic Mini doesn't need to be registered. It isn't
        quite our dream drone as the absence of 4K, or 2.6K 60fps video
        recording is felt, but the DJI Mavic Mini is still in a league of its
        own, pairing a compact, light body with a robust flying experience and
        decent-quality video capture.
      
</p>
       <button type="button" class="readReview btn btn-outline-danger">Read Review</button>
    </div>

    <div class="col-md-4 mb-4 text-center my-3">
      <i class="fas fa-shopping-cart fa-2x"></i>
      <br />
      <h4 class="">Where To Buy?</h4>
      <br />
       <button type="button" class="btn btn-outline-danger my-3">
        <a
          href="https://www.tomtop.com/it/p-rm12554.html?uid=1eb5cd912f7c7a74808438c09f1486e0&utm_source=admitad&admitad_uid=1eb5cd912f7c7a74808438c09f1486e0&web=565276
"
          target="_blank"
        >
          Buy
        </a>
      </button>
    </div>
  </div>
</div>

<!--JumpToTheTop-->
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-12">
      <a href="#top">Go To The Drones</a>
      <br>
      <a href="{{url_for('add_review')}}">Add Drone Review</a>
    </div>
  </div>
</div>
<!--End JumpToTheTop-->

<hr />
<!--End Description Specifications Buy DJI Mini-->

<!--Description Specifications Buy DJI Mavic 2 Zoom-->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <h1><a id="DJI Mavic 2 Zoom">DJI Mavic 2 Zoom</a></h1>
      <img
        src="https://i.imgur.com/bJJxnx3.jpg"
        class="img-fluid"
        
      />
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 mb-4 text-center my-3">
      <i class="fas fa-cogs fa-2x"></i>
      <br />
      <h4 class="">Specification</h4>
      <br />
      <p>
        Weight: 905g | Controller: Yes | Camera resolution: 12MP | Battery size:
        3,950 mAh | Range: 8km
      </p>
    </div>

    <div class="col-md-4 mb-4 text-center my-3">
      <i class="far fa-edit fa-2x"></i>
      <br />
      <h4 class="">Review</h4>
      <br />
     <p class="disp-cont"></p><p class="more-cont" style="display:none;">
        The DJI Mavic 2 Zoom is largely identical to the Mavic 2 Pro, apart from
        one crucial difference – its camera system. While both drones are
        incredibly portable, sharing the same lightweight foldable design, and
        offer a range of high-spec features, the Zoom pairs a smaller 12MP
        sensor with an 24-48mm optical zoom lens. That means you can capture
        close-up shots of subjects like people, while still maintaining the safe
        and legal distance of 50m. Because of the smaller sensor, image quality
        doesn’t quite match the Mavic 2 Pro and the f/2.8 aperture is fixed, but
        photos and videos are still more than good enough for professional use.
        The real boon is that zoom lens, which unlocks a world of creative
        shooting potential. Range is good, distortion minimal and control is
        intuitive via the partner app. On top of that, you get all of the
        intelligent flight modes you’d expect from a DJI drone, including Active
        Track and Hyperlapse, as well as a decent 30-minute flight time. If you
        want a drone with zoom, this is the one for you.
      
</p>
 <button type="button" class="readReview btn btn-outline-danger">Read Review</button>
    </div>

    <div class="col-md-4 mb-4 text-center my-3">
      <i class="fas fa-shopping-cart fa-2x"></i>
      <br />
      <h4 class="">Where To Buy?</h4>
      <br />
       <button type="button" class="btn btn-outline-danger my-3">
        <a
          href="https://www.buyitdirect.ie/p/dji-mavic-2-zoom-cp.ma.00000011.01?wgu=272205_138485_15954353184737_d0e175ef79&wgexpiry=1603211318&utm_source=Future%20Publishing%20Ltd&utm_medium=webgains&refsource=webgains
"
          target="_blank"
        >
          Buy
        </a>
      </button>
    </div>
  </div>
</div>

<!--JumpToTheTop-->
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-12">
      <a href="#top">Go To The Drones</a>
      <br>
      <a href="{{url_for('add_review')}}">Add Drone Review</a>
    </div>
  </div>
</div>
<!--End JumpToTheTop-->

<hr />
<!--End Description Specifications Buy DJI Mavic 2 Zoom-->

<!--Description Specifications Buy DJI Phanthom 4-->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <h1><a id="DJI Phantom 4">DJI Phantom 4</a></h1>
      <img
        src="https://i.imgur.com/81rE2md.jpg"
        class="img-fluid"
        
      />
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 mb-4 text-center my-3">
      <i class="fas fa-cogs fa-2x"></i>
      <br />
      <h4 class="">Specification</h4>
      <br />
      <p>
        1380 g | Controller: Yes | Camera resolution: 12.4MP | Battery size: :
        5,350mAh | Range: 3.1 miles
      </p>
    </div>

    <div class="col-md-4 mb-4 text-center my-3">
      <i class="far fa-edit fa-2x"></i>
      <br />
      <h4 class="">Review</h4>
      <br />
      <p class="disp-cont"></p><p class="more-cont" style="display:none;">
        A refinement of the already impressive DJI Phantom 3 Professional, the
        Phantom 4 brings with it a more sturdy construction, updated
        object-avoidance technology and – like so many of DJI's offerings – an
        excellent dedicated remote control which connects to an equally
        feature-rich smartphone app. 4K video recording is supported, and the
        gimbal design means you get rock-steady footage even when the drone is
        moving at speed and changing direction. The biggest downer – and you'll
        notice this is a common complaint with many commercial drones – is
        battery life, which is only around 15 to 20 minutes, depending on how
        hard you're pushing the drone. While it's not quite in the same league
        as its Inspire 1 sibling, the Phantom 4 offers a similar degree of
        performance and functionality for a lower price, making it an excellent
        option for budding aerial photographers rather than experienced
        professionals.
      </p>
       <button type="button" class="readReview btn btn-outline-danger">Read Review</button>
    </div>

    <div class="col-md-4 mb-4 text-center my-3">
      <i class="fas fa-shopping-cart fa-2x"></i>
      <br />
      <h4 class="">Where To Buy?</h4>
      <br />
     <button type="button" class="btn btn-outline-danger my-3">
        <a
          href="https://www.amazon.co.uk/dp/B084RKXGCY?tag=georiot-trd-21&th=1&psc=1&ascsubtag=trd-ie-2983105423496618000-21
"
          target="_blank"
        >
          Buy
        </a>
      </button>
    </div>
  </div>
</div>

<!--JumpToTheTop-->
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-12">
      <a href="#top">Go To The Drones</a>
      <br>
      <a href="{{url_for('add_review')}}">Add Drone Review</a>
    </div>
  </div>
</div>
<!--End JumpToTheTop-->

<hr />
<!--End Description Specifications Buy DJI Phanthom-->

<!--Description Specifications Buy Parrot Anafi-->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <h1><a id="Parrot Anafi">Parrot Anafi</a></h1>
      <img
        src="https://i.imgur.com/OPoA08K.jpg"
        class="img-fluid"
        
      />
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 mb-4 text-center my-3">
      <i class="fas fa-cogs fa-2x"></i>
      <br />
      <h4 class="">Specification</h4>
      <br />
      <p>
        Weight: 3202g | Controller: Yes | Camera resolution: 21MP | Battery
        size: 2700mAh
      </p>
    </div>

    <div class="col-md-4 mb-4 text-center my-3">
      <i class="far fa-edit fa-2x"></i>
      <br />
      <h4 class="">Review</h4>
      <br />
      <p class="disp-cont"></p><p class="more-cont" style="display:none;">
        This lightweight, bug-like drone might be small, but its photography
        chops are among the most impressive around. Its camera has 180 degrees
        of vertical range, which enables it to take photos directly upwards - a
        feat no other drone can match. It also has a 2.8x zoomable lens with no
        image quality reduction. The Parrot Anafi is a particularly good choice
        for selfie fans. Its Follow Me mode tracks your movements, adjusting
        automatically for more photogenic angles, and its SmartDronies modes -
        Orbit, Parabola, Boomerang and Tornado - cause the drone to fly around
        you in various circles and arcs. The main drawback is the Parrot Anafi's
        lack of obstacle avoidance, which makes it hard to recommend to new
        users. It's also a shame that a couple of flight modes are locked away
        as extra in-app purchases after you've paid for the drone.
     </p>
      <button type="button" class="readReview btn btn-outline-danger">Read Review</button>
    </div>

    <div class="col-md-4 mb-4 text-center my-3">
      <i class="fas fa-shopping-cart fa-2x"></i>
      <br />
      <h4 class="">Where To Buy?</h4>
      <br />
       <button type="button" class="btn btn-outline-danger my-3">
        <a
          href="https://www.amazon.co.uk/dp/B07D5R2JKL?tag=georiot-trd-21&th=1&psc=1&ascsubtag=trd-ie-2217552828245544400-21
"
          target="_blank"
        >
          Buy
        </a>
      </button>
    </div>
  </div>
</div>

<!--JumpToTheTop-->
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-12">
      <a href="#top">Go To The Drones</a>
      <br>
      <a href="{{url_for('add_review')}}">Add Drone Review</a>
    </div>
  </div>
</div>
<!--End JumpToTheTop-->

<hr />
<!--End Description Specifications Buy Parrot Anafi-->

<!--Description Specifications Buy DJI Parrot Bebop 2-->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <h1><a id="Parrot Bebop 2">Parrot Bebop 2</a></h1>
      <img
        src="https://i.imgur.com/5LDdFVg.jpg"
        class="img-fluid"
    
      />
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 mb-4 text-center my-3">
      <i class="fas fa-cogs fa-2x"></i>
      <br />
      <h4 class="">Specification</h4>
      <br />
      <p>
        Weight: 500g | Controller: Optional | Camera resolution: 14MP | Battery
        size: 2,700mAh | Range: 300 metres
      </p>
    </div>

    <div class="col-md-4 mb-4 text-center my-3">
      <i class="far fa-edit fa-2x"></i>
      <br />
      <h4 class="">Review</h4>
      <br />
      <p class="disp-cont"></p><p class="more-cont" style="display:none;">
        The Bebop 2 is a mid-range offering which won't break the bank yet
        offers a surprising amount of features for the price. The camera
        utilises a fisheye lens, and stabilization software removes the need for
        a gimbal; combined with the intelligent construction of the chassis,
        which uses rubber dampeners to reduce vibration in-flight, this results
        in video footage that's refreshingly judder-free. If you're feeling
        especially flush you can take the Bebop 2 to the next level by
        purchasing the optional flight controller and FPV headset. The former
        connects to your smartphone and offers proper flight controls, while the
        latter uses your phone's screen to present a first-person view of what
        the Bebop 2 is actually seeing. It's initially quite jarring to fly the
        device in this fashion, but after a while you'll wish all drones came
        with such an accessory. On the downside, Parrot has locked away some of
        the Bebop 2's more interesting features, such as route planning and
        'follow me' functionality, behind a paywall, which means the cost
        increases further if you want to use these. Battery life is also
        somewhat disappointing, so it may be worth investing in a spare power
        cell.
      </p>
    <button type="button" class="readReview btn btn-outline-danger">Read Review</button>
    </div>

    <div class="col-md-4 mb-4 text-center my-3">
      <i class="fas fa-shopping-cart fa-2x"></i>
      <br />
      <h4 class="">Where To Buy?</h4>
      <br />
       <button type="button" class="btn btn-outline-danger my-3">
        <a
          href="https://www.amazon.co.uk/dp/B07CC2YQ1L?tag=georiot-trd-21&th=1&psc=1&ascsubtag=trd-ie-1339688623559722000-21
"
          target="_blank"
        >
          Buy
        </a>
      </button>
    </div>
  </div>
</div>

<!--JumpToTheTop-->
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-12">
      <a href="#top">Go To The Drones</a>
      <br>
      <a href="{{url_for('add_review')}}">Add Drone Review</a>
    </div>
  </div>
</div>
<!--End JumpToTheTop-->

<hr />
<!--End Description Specifications Buy Parrot Bebop 2-->

<!--Description Specifications Buy DJI Mavic Pro-->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <h1><a id="DJI Mavic Pro">DJI Mavic Pro</a></h1>
      <img
        src="https://i.imgur.com/9tQDVux.jpg"
        class="img-fluid"
       
      />
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 mb-4 text-center my-3">
      <i class="fas fa-cogs fa-2x"></i>
      <br />
      <h4 class="">Specification</h4>
      <br />
      <p>
        Weight: 734g | Controller: Yes | Camera resolution: 12.35MP | Battery
        Size: 3830mAh | Range: 4.3 miles
      </p>
    </div>

    <div class="col-md-4 mb-4 text-center my-3">
      <i class="far fa-edit fa-2x"></i>
      <br />
      <h4 class="">Review</h4>
      <br />
    <p class="disp-cont"></p><p class="more-cont" style="display:none;">
        It's now been superseded by the DJI Mavic 2 Pro (see above), but this is
        still one of the best consumer drones around – and now it's more
        affordable too. Until the DJI Spark came along, the Mavic Pro was the
        smallest drone in DJI's lineup. Don't let its diminutive size fool you
        though – this pint-sized flyer boasts the kind of performance that DJI's
        larger drones are famous for. The camera is mounted on a gimbal, which
        is unusual for drones of this size. It delivers fantastic results with
        both photos and video in good lighting, although the small size of the
        sensor means low-light shooting can sometimes be tricky. The Mavic Pro
        has a top speed of around 40 mph, so it's no slouch in that department,
        and the battery is good for around 20 to 25 minutes of aerial action. As
        is the case with other DJI drones, the Mavic Pro comes with a dedicated
        remote control that uses your phone's display to show you exactly what
        the device is seeing. Range is quoted as being over four miles, giving
        you the opportunity to capture some amazing stills and video without
        worrying about the connection dropping.
      </p>
      <button type="button" class="readReview btn btn-outline-danger">Read Review</button>
    </div>

    <div class="col-md-4 mb-4 text-center my-3">
      <i class="fas fa-shopping-cart fa-2x"></i>
      <br />
      <h4 class="">Where To Buy?</h4>
      <br />
      <button type="button" class="btn btn-outline-danger my-3">
        <a
          href="https://www.tomtop.com/fr/p-c-rm0081us.html?uid=074a3faec6576e41c57c0bc9db1a6a89&utm_source=admitad&admitad_uid=074a3faec6576e41c57c0bc9db1a6a89&web=565276
"
          target="_blank"
        >
          Buy
        </a>
      </button>
    </div>
  </div>
</div>

<!--JumpToTheTop-->
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-12">
      <a href="#top">Go To The Drones</a>
      <br>
      <a href="{{url_for('add_review')}}">Add Drone Review</a>
    </div>
  </div>
</div>
<!--End JumpToTheTop-->

<hr />
<!--End Description Specifications Buy DJI Mavic Pro-->

<!--Description Specifications Buy DJI Inspire 2-->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <h1><a id="DJI Inspire 2">DJI Inspire 2</a></h1>
      <img
        src="https://i.imgur.com/EJ2gJDc.jpg"
        class="img-fluid"
        
      />
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 mb-4 text-center my-3">
      <i class="fas fa-cogs fa-2x"></i>
      <br />
      <h4 class="">Specification</h4>
      <br />
      <p>
        Weight: 3440g | Controller: Yes | Camera resolution: 30MP | Battery
        Size: 4280mAh | Range: 7 km
      </p>
    </div>

    <div class="col-md-4 mb-4 text-center my-3">
      <i class="far fa-edit fa-2x"></i>
      <br />
      <h4 class="">Review</h4>
      <br />
      <p class="disp-cont"></p><p class="more-cont" style="display:none;">
        Soundly knocking its predecessor off the top spot is the highly
        impressive Inspire 2. With a sleek metal composite bodywork upgrade,
        it's a much more attractive piece of kit. What's more, with more
        advanced object avoidance technology you don't have to worry about that
        beautiful body getting scratched by you accidentally clipping a tree.
        You get more than 25 minutes of flight time out of the twin-battery
        arrangement, and the ability to swap camera lenses means that
        professional photographers and videographers have complete control over
        their images and 5K video. The fully-featured smartphone app and
        dedicated remote control make this drone incredibly easy to control, but
        make no mistake, this is a professional piece of kit.
     </p>
       <button type="button" class="readReview btn btn-outline-danger">Read Review</button>
    </div>

    <div class="col-md-4 mb-4 text-center my-3">
      <i class="fas fa-shopping-cart fa-2x"></i>
      <br />
      <h4 class="">Where To Buy?</h4>
      <br />
      <button type="button" class="btn btn-outline-danger my-3">
        <a
          href="https://www.buyitdirect.ie/p/dji-inspire-2-with-zenmuse-x5s-bundle-bun695826512195170674?wgu=272205_138485_15954354882992_f28b4ca41f&wgexpiry=1603211488&utm_source=Future%20Publishing%20Ltd&utm_medium=webgains&refsource=webgains
"
          target="_blank"
        >
          Buy
        </a>
      </button>
    </div>
  </div>
</div>

<!--JumpToTheTop-->
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-12">
      <a href="#top">Go To The Drones</a>
      <br>
      <a href="{{url_for('add_review')}}">Add Drone Review</a>
    </div>
  </div>
</div>
<!--End JumpToTheTop-->
<hr />
<!--End Description Specifications Buy DJI Inspire 2-->

<!--Vote-->


 
<!--End Vote-->

{% endblock %}
