{% extends 'base.html' %} {% block content%}

<header>
  <div class="container-fluid homeheader">
    <div class="row">
      <div class="col-12"></div>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="textanimation text-center text-secondary">Drone Review</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center text-secondary"></h2>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>DJI Mavic Air 2</h1>
      <img
        src="https://i.imgur.com/XRmzG7r.png"
        class="drone img-fluid"
        height="500px"
      />
    </div>
  </div>
</div>

<!--Description Specifications Buy-->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 mb-4 text-center my-3">
      <i class="fas fa-road fa-2x my-2"></i>
      <br />
      <h4 class="">Specification</h4>
      <br />
      <p>
        Weight: 570g | Controller: Yes | Camera resolution: 12MP | Battery size:
        3,950 mAh | Range: 10km
      </p>
    </div>

    <div class="col-md-4 mb-4 text-center my-3">
      <i class="fas fa-bus fa-2x my-2"></i>
      <br />
      <h4 class="">About</h4>
      <br />
      <p>
        A dramatic improvement on the original Mavic Air, the Mavic Air 2 is the
        best all-rounder drone for beginners and hobbyists. Like a mini version
        of the Mavic 2 Pro, it combines the ability to shoot excellent 4K/60p
        video, a huge range of shooting features, and an impressive 34-minute
        flight time. A new 1/2-inch sensor ensures better ISO performance than
        its predecessor and supports slo-mo 1080p video up to 240fps. The Mavic
        Air 2's new controller, meanwhile, brings Ocusync 2.0 connectivity,
        which boosts its range up to 10km and improves the stability of its
        signal to the DJI Fly app. With subject-tracking and all of the familiar
        Quickshot automated modes, it's the perfect sweet spot between the more
        basic DJI Mavic Mini and pricier Mavic 2 series.
      </p>
    </div>

    <div class="col-md-4 mb-4 text-center my-3">
      <i class="fas fa-money-bill-wave fa-2x my-2"></i>
      <br />
      <h4 class="">Where To Buy?</h4>
      <br />
      <button
        type="button"
        class="btn btn-outline-success and-all-other-classes"
      >
        <a
          href="https://www.buyitdirect.ie/p/dji-mavic-air-2-cp.ma.00000179.01?wgu=272205_138485_15954352141719_3db807da98&wgexpiry=1603211214&utm_source=Future%20Publishing%20Ltd&utm_medium=webgains&refsource=webgains
"
          target="_blank"
          style="color: inherit;"
        >
          Buy
        </a>
      </button>
    </div>
  </div>
</div>

<!--Description Specifications Buy-->

{% endblock %}
